MONGODB_URI=mongodb://127.0.0.1:27017/bahandi_writeoff
MONGODB_DB=bahandi_writeoff
NODE_ENV=production
API_HOST=0.0.0.0
API_PORT=4000
PUBLIC_BASE_URL=http://46.101.134.38:4000
CORS_ORIGIN=*
SERVE_WEB=false
GEMINI_API_KEY=your_gemini_api_key_here
